@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*  styles page */
.offset:before{
    display: block;
content:"";
height:6rem;}

body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;    }
    

.navbar{
    text-transform: uppercase;
    font-size:14px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
    letter-spacing:0.2rem;
    background: rgba(0,0,0,0.6)!important;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.sec1{background: rgba(164, 197, 155, 0.082);}

.heading-content{
    position: absolute;
    top:20%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size:3em;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
color:#fff;
}

.heading-content h1{
    font-size:5em;
    font-family: "Share Tech Mono", sans-serif;
color:#fff;
}
.heading-content p{
    font-size:1.4em;
    text-transform: uppercase;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: lighter;
    color:#fff;
        word-spacing: 5px ;
    letter-spacing:2px;}

    .heading-content a{text-decoration: none;}
.heading-content span{font-size:50px;}
    /* A propos START */
    #about .btn{
        border:2px solid transparent;
        width:40%;
        padding: 15px 22px;
        background: rgba(52, 68, 37, 0.6);
        border-radius: 5px;
        margin-top: 10px;
    }
   
        #about .btn a{text-decoration: none;        
            color: white;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
        }
    
     
        #about .btn:hover{
            border:2px solid rgb(52, 68, 37);

        }
        #about img:hover{
            border:2px solid rgb(52, 68, 37);
        }
        #about img{
            justify-content: center;
width:100%;
        }
     
#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:20px auto 50px auto;
}
.skill-text{
	width:400px;
}

.skill-heading span{
	color:#185251;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
  font-size:50px;
}
.s-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.s-box-text p{
	color:#747474;
	font-size: 0.9rem;
}
.fa-html5{
	color:#e06061;
}
.fa-css3-alt{
	color:#416cdf;
}
.fa-js-square{
	color:#f98231;
}

#Portfolio img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color:rgba(73, 95, 51, 0.623);
  }
  
  #Portfolio img:hover{
    box-shadow: 0 0 2px 1px rgba(162, 221, 107, 0.911);
  }

  
.zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(1.5);    
    -moz-transform: scale(1.5);  
    -webkit-transform: scale(1.5);  
    -o-transform: scale(1.5);  
    transform: scale(1.5);    
    position:relative;      
    z-index:100;  
    }
    .card{
        height: 520px;
    }
      .card-text {
text-transform:uppercase;
       
      }
      .card-text1 {
        color: rgb(52, 68, 37);
        font-family: "Share Tech Mono", monospace;
        text-transform:uppercase;

      }

      /*CONTACT START*/


/* ======= CONTACT ======= */

#contact {
    padding-top: auto;
    padding-bottom: auto;
}

.email-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 10px;
}

#contact p {
    font-size: 16px;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
}



#footer .row a{
    margin-left: 10px;
text-decoration: none;}

/*  ------------    Media Query ----------------- */
@media (min-width: 576px) {  
   }

@media (min-width: 768px) and (max-width: 991px) { 
.navbar a{font-size:10px;}
}
/*  ------------   glow  ----------------- */

.glow {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .glow:hover {
    color: #fff;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(60, 255, 0, 0.835), 0 0 40px rgba(60, 255, 0, 0.835), 0 0 50px rgba(60, 255, 0, 0.835), 0 0 60px rgba(60, 255, 0, 0.835), 0 0 70px rgba(60, 255, 0, 0.835);
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #279c04d5, 0 0 40px #279c04d5, 0 0 50px #279c04d5, 0 0 60px #279c04d5, 0 0 70px #279c04d5, 0 0 80px #279c04d5;
    }
  }