@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*  styles page */
.offset:before{
    display: block;
content:"";
height:6rem;}

body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;    }
    

.bg {

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
    text-transform: uppercase;
    font-size:14px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
    letter-spacing:0.2rem;
    background: rgba(0,0,0,0.6)!important;
}
.navbarjs{
  text-transform: uppercase;
  font-size:14px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
  letter-spacing:0.2rem;
  background: rgba(0,0,0,0.6)!important;
}
.navbarjs  a{
  color:#fff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.sec1{background: rgba(164, 197, 155, 0.082);}

.heading-content{
    position: absolute;
    top:20%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size:3em;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
color:#fff;
}

.heading-content h1{
    font-size:5em;
    font-family: "Share Tech Mono", sans-serif;
color:#fff;
}
.heading-content p{
    font-size:1.4em;
    text-transform: uppercase;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: lighter;
    color:#fff;
        word-spacing: 5px ;
    letter-spacing:2px;}

    .heading-content a{text-decoration: none;}
.heading-content span{font-size:50px;}
    /* A propos START */
    #about .btn{
        border:2px solid transparent;
        width:40%;
        padding: 15px 22px;
        background: rgba(52, 68, 37, 0.6);
        border-radius: 5px;
        margin-top: 10px;
    }
   
        #about .btn a{text-decoration: none;        
            color: white;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
        }
    
     
        #about .btn:hover{
            border:2px solid rgb(52, 68, 37);

        }
        #about img:hover{
            border:2px solid rgb(52, 68, 37);
        }
        #about img{
            justify-content: center;
width:100%;
        }
     
        /*  Compétences START  */
#skills{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	margin:20px auto 50px auto;
}
.skill-bars{
  padding: 25px 30px;
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background:#7eb44b;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.JavaScript span{
  width: 55%;
}
.bar .progress-line.Wordpress span{
  width: 75%;
}
.bar .progress-line.Bootstrap span{
  width: 72%;
}

.bar .progress-line.react span{
  width: 5%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.JavaScript span::after{
  content: "55%";
}
.progress-line.Wordpress span::after{
  content: "75%";
}
.progress-line.Bootstrap span::after{
  content: "72%";
}
.progress-line.react span::after{
  content: "5%";
}


/* FIN COMPETENCES */
#Portfolio img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color:rgba(73, 95, 51, 0.623);
  }
  
  #Portfolio img:hover{
    box-shadow: 0 0 2px 1px rgba(162, 221, 107, 0.911);
  }

.card-img-top {
    height: 15rem;
    object-fit: cover;
}
  
.zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(1.5);    
    -moz-transform: scale(1.5);  
    -webkit-transform: scale(1.5);  
    -o-transform: scale(1.5);  
    transform: scale(1.5);    
    position:relative;      
    z-index:100;  
    }
    
   
      .card-text {
text-transform:uppercase;
       
      }
      .card-text1 {
        color: rgb(52, 68, 37);
        font-family: "Share Tech Mono", monospace;
        text-transform:uppercase;

      }

      /*CONTACT START*/


/* ======= CONTACT ======= */

#contact {
    padding-top: auto;
    padding-bottom: auto;
}

.email-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 10px;
}

#contact p {
    font-size: 16px;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
}



#footer .row a{
    margin-left: 10px;
text-decoration: none;}

/*  ------------    Media Query ----------------- */
@media (min-width: 576px) {  
   }

@media (min-width: 768px) and (max-width: 991px) { 
.navbar a{font-size:10px;}
}




  
.text-load {
    position: absolute;
    bottom: 5px;
    right: 90px;
  }


  .loader{
      width: 80px;
      height: 67px;
      margin: auto;
      position: relative;
  }
  .loader .square1{
    background:#fcd707;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 4px;
  animation-fill-mode: both;
    animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}
  .loader .square{
      background:rgb(0, 174, 255);
      width: 30px;
      height: 30px;
      margin: 0 auto;
      border-radius: 4px;
    animation-fill-mode: both;
      animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  }
  .loader .path{
      height: 10px;
      width: 110px;
      overflow: hidden;
      position: absolute;
      bottom: 40;
      left: 0;
  }
  .loader .path > div{
      background: #444;
      width: 10px;
      height: 10px;
      border-radius: 2px;
      margin: 0 15px;
      position: absolute;
      top: 0;
      left: 0;
      animation-fill-mode: both;
      animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  }
  .loader .path > div:nth-child(1){ left: 40px; }
  .loader .path > div:nth-child(2){ left: 80px; }
  .loader .path > div:nth-child(3){ left: 120px; }
  .loader .path > div:nth-child(4){ left: 160px; }
  .loader .path > div:nth-child(5){ left: 200px; }
  .loader .path > div:nth-child(6){ left: 240px; }
  .loader .path > div:nth-child(7){ left: 280px; }
  @keyframes motion{
      50%{ transform: rotate(90deg); }
      100%{ transform: rotate(180deg); }
  }
  @keyframes dynamic{
      0%{ transform: translateX(-40px); }
      25%{ transform: translateX(-80px); }
      50%{ transform: translateX(-120px); }
      75%{ transform: translateX(-160px); }
      100%{ transform: translateX(-200px); }
  }
